.container{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-smooth);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: var(--text-smooth);
    font-weight: bold;
    text-transform: capitalize;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #2e374a;
    padding: 10px;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}

.icons{
    display: flex;
    gap: 10px;
}