.container{
    background-color: var(--bg-smooth);
    padding:20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.container:hover{
    background-color: #2e374a;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number{
    font-size: 24px;
    font-weight: 500;
}

.details{
    font-size: 10px;
    font-weight: 300;
}

.positive{
    color: lime;
}