.container{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 0px;
    border-radius: 10px;
}

.itemName{
    font-size: 12px;
}

.container:hover{
    background-color: #2e374a;
}

.active{
    background-color:#232936 ;
}